# Py City Schools Analysis #

In [3]:
import pandas as pd

In [23]:
# Path to csv data files
districtData = "Resources/schools_complete.csv"
schoolData = "Resources/students_complete.csv"

# Read the data files 
districtDataFile = pd.read_csv(districtData)
schoolDataFile = pd.read_csv(schoolData)

# Combine the data into a single data set 
completeDataDF = pd.merge(districtDataFile, schoolDataFile, how="left", on=["school_name", "school_name"])
completeDataDF.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Summary #

In [30]:
# Total number of unique schools
school_count = completeDataDF["school_name"].value_counts()
total_school_count = len(school_count)
total_school_count

15

In [32]:
# Total number of students
student_count = completeDataDF["Student ID"].value_counts()
total_student_count = len(student_count)
total_student_count

39170

In [37]:
# Total budget 
total_budget = completeDataDF["budget"].sum()
total_budget

82932329558

In [38]:
# Average math score
avg_math_score = completeDataDF["math_score"].mean()
avg_math_score

78.98537145774827

In [39]:
# Average reading score
avg_reading_score = completeDataDF["reading_score"].mean()
avg_reading_score

81.87784018381414

In [45]:
# % passing math (the percentage of students who passed math)
students_passing_math = completeDataDF.loc[completeDataDF["math_score"] >= 70]
num_student_passing_math = students_passing_math["Student ID"].count()

percent_passing_math = (num_student_passing_math / total_student_count) * 100
percent_passing_math

74.9808526933878

In [46]:
# % passing reading (the percentage of students who passed reading)
students_passing_reading = completeDataDF.loc[completeDataDF["reading_score"] >= 70]
num_student_passing_reading = students_passing_reading["Student ID"].count()

percent_passing_reading = (num_student_passing_reading / total_student_count) * 100
percent_passing_reading

85.80546336482001

In [51]:
# % overall passing (the percentage of students who passed math AND reading)
overall_passing = completeDataDF[(completeDataDF["math_score"] >= 70) & (completeDataDF["reading_score"] >= 70)]['Student ID'].count()/total_student_count*100
overall_passing

65.17232575950983

In [52]:
# Create a dataframe to hold the results
district_summary = pd.DataFrame({
    "Total Schools": total_school_count,
    "Total Students": f"{total_student_count:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Math Score": f"{avg_math_score:.6f}",
    "Average Reading Score": f"{avg_reading_score:.5f}",
    "% Passing Math": f"{percent_passing_math:.6f}",
    "% Passing Reading": f"{percent_passing_reading:.6f}",
    "% Overall Passing": f"{overall_passing: .6f}"
}, index=[0])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary #

In [81]:
# School name
school_name = completeDataDF.set_index('school_name').groupby(['school_name'])

In [82]:
# School type
school_type = completeDataDF.set_index('school_name')['type']

In [83]:
# Total students
total_student = school_name['Student ID'].count()

In [84]:
# Total school budget
total_school_budget = completeDataDF.set_index('school_name')['budget']

In [85]:
# Per student budget
budget_per_student = (completeDataDF.set_index('school_name')['budget']/completeDataDF.set_index('school_name')['size'])

In [86]:
# Average math score
average_math_score = school_name['math_score'].mean()

In [87]:
# Average reading score
average_reading_score = school_name['reading_score'].mean()

In [88]:
# % passing math (the percentage of students who passed math)
pass_math_percent = completeDataDF[completeDataDF['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [89]:
# % passing reading (the percentage of students who passed reading)
pass_reading_percent = completeDataDF[completeDataDF['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [90]:
# % overall passing (the percentage of students who passed math AND reading)
overall_pass = completeDataDF[(completeDataDF['reading_score'] >= 70) & (completeDataDF['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100

In [92]:
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": pass_math_percent,
    "% Passing Reading": pass_reading_percent,
    "% Overall Passing": overall_pass
})


#munging
school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing']]


#formatting
school_summary.style.format({"Total Students": '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          "Average Math Score": "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Math": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

/var/folders/xh/ng1p8msd4q79nym6tw79d_j00000gn/T/ipykernel_1109/2785198315.py:1: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  school_summary = pd.DataFrame({

ValueError: cannot reindex on an axis with duplicate labels

# Highest-Performing Schools (by % Overall Passing) #